<div id="landingPage">
  <div class="main">
    <section>
      <h1 style="text-align: center;">Are You Ready?</h1>
      <img src="/img/icon-handshake-min.png" alt="handshake icon" class="centered" />
      <h2>Schedule a personalized Citibot demo</h2>
      <p>See for yourself how Citibot is making it easier than ever to connect citizens to their government. Citibot technology will save your organization time and money while efficiently and effectively increasing civic engagement. Request your free, live
        Citibot demo today. Fill out the form below to schedule a personalized demo to assess your city’s goals. We can’t wait to show you how our seamless, engaging and data driven software will make your city or county smarter. </p>
     <div class="bot" cf-context>
        <form id="conversational" action"https://citibot-v2.herokuapp.com.us16.list-manage.com/subscribe/post?u=79d1607029a5b5758e66fa7e01863a92&amp;id=352a183a71" method="post" name="demo" cf-form >

          <input type="text" name="_gotcha" style="display: none">
          <input type="hidden" name="_next" value="">
          <input type="hidden" name="_subject" value="Submission on ConversationalForm">

          <label for="first-name">First Name</label>
          <input cf-questions="Hi there! What's your first name?" type="name" class="form-control" name="first-name" id="first-name">

          <label for="last-name">Last Name</label>
          <input cf-questions="And your last name?" type="name" class="form-control" name="last-name" id="last-name">

          <label for="your-city">City</label>
          <input cf-questions="What city are you currently living?" type="text" class="form-control" name="your-city" id="your-city">
          <label for="your-state">State</label>

          <input cf-questions="And state?" type="text" class="form-control" name="your-state" id="your-state">

          <label for="your-occupation">Occupation</label>

          <label>
                <input cf-questions="Great to meet you, {previous-answer}! I am Citibot, what do you do?|Awesome, {previous-answer}! And what do you do?" type="radio" name="your-occupation" id="your-occupation-1" value="government-employee">
                Government Employee
            </label>

          <label>
                <input type="radio" name="your-occupation" id="your-occupation-2" value="elected-official">
                Elected Official
            </label>

          <label>
                <input type="radio" name="your-occupation" id="your-occupation-3" value="property-manager">
                Property Manager
            </label>

          <label>
                <input type="radio" name="your-occupation" id="your-occupation-4" value="citizen">
                Citizen
            </label>
            <label>
                  <input type="radio" name="your-occupation" id="your-occupation-5" value="other">
                  Other
              </label>

              <label for="your-email">Email</label>
              <input cf-questions="To have your demo appointment set up, please give me your email." type="email" class="form-control" name="your-email" id="your-email">

          <label for="thats-all">Final go</label>
          <select cf-questions="That's it for now! Submit your information and we will be in contact shortly. Have a great day!" id="thats-all" class="form-control">
                <!-- <option></option> -->
                <option>SUBMIT</option>
            </select>

           <button type="submit" class="btn btn-default">Submit</button>

        </form>
        <script type="text/javascript">
      var __ss_noform = __ss_noform || [];
      __ss_noform.push(['baseURI', 'https://app-3QN8XY5SG0.marketingautomation.services/webforms/receivePostback/MzawMDE1tzQzAwA/']);
      __ss_noform.push(['endpoint', '4f85a0c1-17e6-4c22-b652-bc22b6acc777']);
  </script>
  <script type="text/javascript" src="https://koi-3QN8XY5SG0.marketingautomation.services/client/noform.js?ver=1.24" ></script>
</div>
      </div>
    </section>
  <div class="cloud" id="cloudC"><img src="/img/cloud-c.png" width="424" height="162" alt="" /></div>
  <div class="cloud" id="cloudD"><img src="/img/cloud-d.png" alt="" /></div>
  <div class="prefooter" style="z-index:0;"> </div>
</div>
