@charset "UTF-8";
/* CSS Document */

/* GLOBAL TAGS
-------------------------------------------------- */
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'proxima-nova', arial, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 0;
  color: #2b4c59;
  background-color: #fff;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 1em;
  padding: 0;
}
h1 {
  font-family: 'quatro', verdana, sans-serif;
  font-weight: 200;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: .015em;
  text-transform: uppercase;
}
h2 {
  font-family: 'quatro', verdana, sans-serif;
  font-weight: 700;
  font-size: 77px;
  line-height: 1.4;
  letter-spacing: .01em;
  text-transform: uppercase;
}
h3 {
  font-family: 'quatro', verdana, sans-serif;
  font-weight: 200;
  font-size: 34px;
  line-height: 1.4;
  letter-spacing: .01em;
}
h4 {
  font-family: 'quatro-slab', times, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: .075em;
}
h5 {
  font-family: 'quatro', verdana, sans-serif;
  font-weight: 200;
  font-size: 24px;
  line-height: 1.6;
  letter-spacing: .01em;
}
p {
}
ul {
  padding: 0;
}
a, a img, .btn, button, .btn-link {
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:hover img {
  opacity: .6;
}
button:hover {
  cursor: pointer;
}
a.btn {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .05em;
  line-height: 1;
  border-radius: 0;
  border: none;
}
button.btn {
  text-transform: uppercase;
  letter-spacing: .05em;
  line-height: 1;
  border-radius: 0;
}
a.btn-link {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: inherit;
  text-decoration: underline;
}
a.btn-link:focus, a.btn-link:hover {
	color: #2f8ab6;
  opacity: .7;
  text-decoration: none;
}
a.btn-primary, button.btn-primary {
  font-family: inherit;
  color: #fff;
  /*font-size: 10px;*/
  letter-spacing: .3em;
  text-transform: uppercase;
  padding: 5px 20px;
	background-color: #4fb0de;
  border: none;
  border-radius: 0;
}
a.btn-primary:focus, a.btn-primary:hover,
button.btn-primary:focus, button.btn-primary:hover {
  background-color: #2f8ab6;
}

button.btn-outline-primary {
  display: block;
  color: #4fb0de;
	/*font-size: 12px;*/
  padding: .5em 2em;
  border: 1px solid #4fb0de;
}
button.btn-outline-primary:hover {
	color: #fff;
	background-color: #4fb0de;
  opacity: 1;
}
a.btn-outline-light {
  /*display: block;*/
  color: #fff;
	/*font-size: 12px;*/
  padding: 1.5em 2em;
  border: 1px solid #fff;
}
a.btn-outline-light:hover {
	color: #4fb0de;
	background-color: #fff;
  opacity: 1;
}

.bg-primary {
	background-color: #4fb0de !important;
}
.text-blue-drk {
	color: #2f8ab6 !important;
}


#header {
  position: fixed;
  display: block;
  width: 100%;
  height: 145px;
  top: 0;
  border-top: 3px solid #4fb0de;
  z-index: 100;
  background-color: rgba(255,255,255,.9);
}
#header .navbar {
  padding: 0;
	display: flex;
	flex-flow: row wrap;
	align-content: space-between;
	height: 145px;
}
#header .logo {
  margin: 0px auto 10px;
  width: 200px;
  display: block;
  position: relative;
}
#header .navbar .secondary-nav {
  width: 100%;
  padding: 0;
  color: #2b4c59;
  font-size: 12px;
  line-height: 1;
  letter-spacing: .01em;
  text-transform: uppercase;
}
#header .navbar .secondary-nav ul {
  margin: 10px 0 0;
  padding: 0;
  list-style: none;
}
#header .navbar .secondary-nav ul li {
  display: inline-block;
  padding: 0 .5em;
}
#header .navbar .secondary-nav ul li:last-child {
  padding-right: 0;
}
#header .navbar .secondary-nav a {
  color: #2b4c59;
  padding: 2px 0;
  display: block;
}
#header .navbar .secondary-nav a:hover {
  color: #4fb0de;
}
#header .navbar.fixed-top ul.navbar-nav {
  width: 100%;
  padding: 0;
  color: #4fb0de;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: -.01em;
  text-transform: uppercase;
  flex-flow: row nowrap;
  align-items: stretch;
}
#header .navbar.fixed-top h4 {
  text-transform: none;
  margin: 5px 2em 0 0;
  padding: 1.25em 0;
}
#header .navbar.fixed-top ul.navbar-nav > li {
  flex: 1 1 auto;
  border-top: 1px solid #4fb0de;
  border-bottom: 1px solid #4fb0de;
  border-right: 1px solid #4fb0de;
}
#header .navbar.fixed-top ul.navbar-nav > li:first-child {
  flex-grow: 2;
}
#header .navbar.fixed-top ul.navbar-nav > li:last-child {
  border-right: none;
  flex-grow: 3;
}
#header .navbar.fixed-top ul.navbar-nav li.small {
  font-size: 28px;
  line-height: 1.2;
  flex: 0 1 auto;
}
#header .navbar.fixed-top a.nav-link {
  color: #2b4c59;
  padding: 1.25em 0;
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  border-top: 3px solid rgba(79,176,222,0);
  border-bottom: 3px solid rgba(79,176,222,0);
}
#header .navbar.fixed-top a.nav-link:hover, #header .dropdown.show a.nav-link {
  color: #4fb0de;
  border-bottom: 3px solid rgba(79,176,222,1);
}
#header .navbar.fixed-top ul.navbar-nav li.apply, #header .navbar.fixed-top ul.navbar-nav li.donate {
  border: none;
}
#header .navbar.fixed-top ul.navbar-nav li.apply {
  margin-left: -1px;
}
#header .navbar.fixed-top a.nav-link.btn-apply {
  color: #fff;
  background-color: #4fb0de;
}
#header .navbar.fixed-top a.nav-link.btn-apply:hover {
  color: #fff;
  background-color: #2f8ab6;
  border-bottom: 3px solid rgba(79,176,222,0);
}
#header .navbar.fixed-top a.nav-link.btn-donate {
  color: #fff;
  background-color: #efae44;
}
#header .navbar.fixed-top a.nav-link.btn-donate:hover {
  color: #fff;
  background-color: #e49616;
  border-bottom: 3px solid rgba(79,176,222,0);
}

#header .navbar-nav ul.dropdown-menu {
	position: absolute;
  display: block;
  margin: 0 0 0 -1px;
  padding: 0;
  opacity: 0;
  border-radius: 0;
  transform-origin: top;
  animation-fill-mode: forwards;
  transform: scale(1, 0);
  transition: all .2s ease-in;
}
#header .show > ul.dropdown-menu {
  opacity:1;
  transform: scale(1, 1);
  transition: all .2s ease-in;
}
#header .navbar ul.dropdown-menu li {
  border: 1px solid #4fb0de;
  border-top: none;
}
#header ul.dropdown-menu a.dropdown-item {
  color: #2b4c59;
  padding: 1.75em;
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  border-left: 3px solid rgba(79,176,222,0);
  border-right: 3px solid rgba(79,176,222,0);
}
#header ul.dropdown-menu a.dropdown-item:hover {
  color: #4fb0de;
  border-right: 3px solid rgba(79,176,222,1);
  background-color: transparent;
}

#header .nav-main.navbar-toggler {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 20px;
  padding: 7px 0 0;
	font-size: 1.25rem;
	border: none;
  border-radius: 0;
}
#header .nav-main.navbar-toggler .icon-bar {
  display: block;
	width: 30px;
	transition: all 0.3s;
  height: 3px;
  border-radius: 1px;
  margin: 4px auto;
  background-color: #efae44;
}


/* ANIMATED X */
#header .nav-main.navbar-toggler .icon-bar:nth-of-type(1) {
	transform: rotate(45deg);
  transform-origin: 5px 50% 0;
}
#header .nav-main.navbar-toggler .icon-bar:nth-of-type(2) {
	opacity: 0;
	filter: alpha(opacity=0);
}
#header .nav-main.navbar-toggler .icon-bar:nth-of-type(3) {
	transform: rotate(-45deg);
	transform-origin: 5px 50% 0;
}

/* ANIMATED X COLLAPSED */
#header .nav-main.navbar-toggler.collapsed .icon-bar:nth-of-type(1) {
	transform: rotate(0);
}
#header .nav-main.navbar-toggler.collapsed .icon-bar:nth-of-type(2) {
	opacity: 1;
	filter: alpha(opacity=100);
}
#header .nav-main.navbar-toggler.collapsed .icon-bar:nth-of-type(3) {
	transform: rotate(0);
}
/* END ANIMATED X */




/* FOOTER
-------------------------------------------------- */
#footer > div {
  padding-top: 20px;
  padding-bottom: 20px;
}
#footer .navbar-brand {
  width: 163px;
  height: 35px;
  line-height: 35px;
  padding: 0;
  margin: 0 0 .5rem;
}
#footer .navbar-brand img {
  vertical-align: bottom;
}
#footer #FooterNav-Right .navbar-brand {
  width: 180px;
  padding-bottom: 5px;
}
#footer #FooterNav-Right .navbar-brand img {
  padding-bottom: 5px;
}
#footer .navbar {
	padding: .5rem 1rem;
	flex-flow: column nowrap;
  align-items: flex-end;
}
#footer #FooterNav-Right.navbar {
  align-items: flex-start;
}
#footer .col-lg-6:first-child {
  border-right: 1px solid #e3e3e3;
}
#footer .navbar ul.navbar-nav {
  color: #4fb0de;
  font-weight: 400;
  font-size: 9px;
  line-height: 1;
  letter-spacing: .05em;
  text-transform: uppercase;
}
#footer a {
  color: #2b4c59;
  text-decoration: underline;
}
#footer a:hover {
  color: #4fb0de;
  text-decoration: none;
}
#footer a.nav-link {
  color: #2b4c59;
  text-decoration: none;
}
#footer a.nav-link:hover {
  color: #4fb0de;
}

#footer .row.no-gutters {
	border-top: 2px solid #2b4c59;
}
#footer .row.no-gutters > div {
  flex-flow: row wrap;
  font-family: 'quatro', verdana, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: .05em;
}
#footer .row.no-gutters a.nav-link {
  color: #2b4c59;
  text-decoration: underline;
}
#footer .row.no-gutters a.nav-link:hover {
  color: #4fb0de;
  text-decoration: none;
}


/* GLOBAL STYLES
-------------------------------------------------- */
.canvas {
	padding-top: 145px;
}
.ribbon {
  position: relative;
  width: 100%;
  height: 54px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: .05em;
  color: #4fb0de;
  background-color: #fff;
}
.ribbon .container.row {
  height: 100%;
  justify-content: center;
  align-content: center;
  white-space: nowrap;
}
.ribbon .container.row > div {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}
.ribbon p {
  margin: auto;
}
.ribbon a {
  color: #4fb0de;
}
.ribbon a:hover {
  color: #2f8ab6;
}
p.social {
  /*margin-top: -5px;*/
  padding: 0;
  font-size: 10px;
}
.social a {
  display: inline-block;
  margin: 0 1em;
}
.ribbon button.btn-outline-primary {
  height: 100%;
  color: #efae44;
  border-top: none;
  border-bottom: none;
}
.ribbon button.btn-outline-primary:hover {
  color: #fff;
}

.billboard {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}
.billboard section {
  width: 100%;
  min-height: 50vh;
  padding: 2rem 0;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.billboard section h2 {
  margin: 0;
}
.billboard section .col-5 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: center;
  white-space: nowrap;
  animation: delayShowUp 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 forwards;
  opacity: 0;
  transform: translateY(30vh);
}
.billboard section .col-lg-7 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: center;
  z-index: 1;
  position: relative;
  animation: delayShowRt 2s cubic-bezier(0.075, 0.82, 0.165, 1) .5s 1 forwards;
  opacity: 0;
  transform: translateX(60vh);
  padding-top: 10vh;
}

@keyframes delayShowUp {
    0% {
        opacity: 0;
  }
    25% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes delayShowRt {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


/* HOME
-------------------------------------------------- */
#homePage {
}
.carousel.banner {
  overflow: hidden;
}
.banner .container {
  width: 35%;
  display: flex;
  flex-flow: column wrap;
  align-items: end;
  min-width: 400px;
  position: absolute;
  top: 0;
	bottom: 0;
	padding: 100px 0;
  color: #fff;
  z-index: 10;
  background-color: rgba(239,174,68,.88);
}
.banner .carousel-caption, .banner .banner-caption {
  position: relative;
	width: 50%;
  height: 100%;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
  justify-content: space-between;
  left: auto;
  right: auto;
  bottom: auto;
  margin-right: 50px;
}
.banner .carousel-caption h1, .banner .banner-caption h1 {
  margin-bottom: 0;
}
.banner .carousel-caption h1:before, .banner .banner-caption h1:before,
.banner .carousel-caption h1:after, .banner .banner-caption h1:after {
  content: '';
  width: 50px;
  height: 1px;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  background-color: #fff;
  margin-top: -1em;
}
.banner .carousel-caption h1:after, .banner .banner-caption h1:after {
  margin-top: 1em;
}
.banner .carousel-inner, .banner .banner-inner {
	position: relative;
	width: 100%;
	/*overflow: hidden;*/
}
.banner .carousel-item, .banner .banner-item {
  height: 600px;
  background-color: #fff;
  width: 100%;
}
.banner .carousel-item > img, .banner img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}
/*.banner .carousel-item .bg-slide {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 600px;
  margin: 0;
  background-attachment: fixed !important;
}
.banner .carousel-item .bg-slide {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
.banner .carousel-item .bg-slide img {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
.banner .carousel-item .first-slide {
  background: url('/img/ourstory-min.jpg') no-repeat top center;
}
.banner .carousel-item .second-slide {
  background: url('/img/whysc-min.jpg') no-repeat top center;
}
.banner .carousel-item .third-slide {
  background: url('/img/alumni-min.jpg') no-repeat top center;
}*/
.banner .carousel-control-next, .banner .carousel-control-prev {
	width: 10%;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 769px) {
  .desktop-hide {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .mobile-hide {
  	display: none !important;
  }
  #header {
  	height: 70px;
  }
  #header .navbar {
  	height: auto;
    /*padding-top: 2px;*/
    align-content: center;
  }
  #header .navbar.fixed-top {
  	z-index: 1040;
  }
  #header .logo {
    margin: 15px;
    width: auto;
    height: 40px;
  }
  #header .logo img {
    width: auto;
    height: 40px;
  }
  #header .navbar-collapse {
  	width: 100%;
  	position: absolute;
  	top: 70px;
  	max-height: 89vh;
  	overflow-y: scroll;
  }
  ul.navbar-nav.text-center {
  	text-align: left !important;
  }
  #header .navbar.fixed-top ul.navbar-nav {
    width: 70%;
    flex-flow: column wrap;
    margin-right: 0 !important;
    background-color: rgba(255,255,255,.9);
    font-size: 1.5rem;
    letter-spacing: .05em;
    min-width: 240px;
  }
  #header .navbar.fixed-top ul.navbar-nav li {
    /*width: 100%;*/
    border-top: none;
    border-right: none;
  }
  #header .navbar.fixed-bottom {
    height: 40px;
    align-content: flex-end;
  }
  #header .navbar.fixed-bottom ul.navbar-nav {
    width: 100%;
    height: 100%;
    padding: 0;
    color: #4fb0de;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    letter-spacing: .05em;
    text-transform: uppercase;
    flex-flow: row nowrap;
    align-items: stretch;
  }
  #header .navbar.fixed-bottom ul.navbar-nav > li {
    width: 50%;
    border: none;
  }
  #header .navbar.fixed-bottom a.nav-link {
    height: 40px;
    line-height: 40px;
    padding: 0;
  }
  #header .navbar.fixed-bottom a.nav-link.btn-apply {
    color: #fff;
    background-color: #4fb0de;
    /*padding: 1.25rem 1.5rem;*/
  }
  #header .navbar.fixed-bottom a.nav-link.btn-donate {
    color: #fff;
    background-color: #efae44;
    /*padding: 1.25rem 1.5rem;*/
  }
  #header .navbar.fixed-bottom a.nav-link.btn-apply:hover {
    color: #fff;
    background-color: #2f8ab6;
    border-bottom: none;
  }
  #header .navbar.fixed-bottom a.nav-link.btn-donate:hover {
    color: #fff;
    background-color: #e49616;
    border-bottom: none;
  }
  #header .navbar.fixed-top a.nav-link {
    height: auto;
    border: none;
    padding: 1rem 1.5rem;
  }
  #header .navbar.fixed-top a.nav-link:hover, #header .dropdown.show a.nav-link {
    border: none;
  }
  #header .navbar-nav ul.dropdown-menu {
  	position: relative;
    display: block;
    top: 0;
    margin: 0;
    font-size: 1.25rem;
    transform: none;
    opacity: 1;
    background-color: transparent;
    border: none;
  }
  #header .navbar ul.dropdown-menu li {
    border: none;
  }
  #header .navbar ul.dropdown-menu li hr {
    width: 60%;
    margin: auto;
  }
  #header ul.dropdown-menu a.dropdown-item {
    padding: 1.25rem 1.5rem;
    border: none;
    white-space: normal;
  }
  #header ul.dropdown-menu a.dropdown-item:hover {
    border-right: none;
  }
  #header ul.dropdown-menu p.social {
    padding: 1.25rem 1.5rem;
    color: #4fb0de;
    font-size: 12px;
    line-height: 2;
}
  #header ul.dropdown-menu p.social a {
    margin: 0 .5em;
    color: #4fb0de;
  }
  #header ul.dropdown-menu p.social a:hover {
    color: #2f8ab6;
  }

  #footer > div {
  	flex-flow: column nowrap;
  }
  #footer .navbar {
    text-align: center !important;
    align-items: center;
    font-size: 1.4em;
  }
  #footer #FooterNav-Right.navbar {
    align-items: center;
  }
  #footer .navbar ul.navbar-nav {
  	font-size: 11px;
  }
  #footer .col-lg-6:first-child {
    border-right: none;
  }
  #footer .container.small {
  	font-size: 100%;
  }

  .canvas {
  	padding-top: 70px;
  }
  .ribbon {
  	font-size: 16px;
    height: auto;
  }
  .ribbon .container.row {
    flex-flow: row wrap;
    padding: .75rem 0;
    white-space: normal;
  }
  .ribbon .container.row div + div{
    margin: .75rem 0;
  }
  .ribbon button.btn-outline-primary {
  	border: 1px solid #4fb0de;
  }
  .billboard section {
  	flex-flow: column nowrap;
  }
  .billboard section .col-lg-7 {
    padding-top: 0;
  	padding-left: 50px;
    margin-top: -30px;
  }
  .billboard section h2 {
  	font-size: 12vw;
  }
  .billboard section h3 {
  	font-size: 9vw;
    margin-bottom: .5em;
  }
  .billboard section h5 {
  	font-size: 6vw;
  }

  .banner .banner-inner {
    /*min-height: calc(180vh - 70px);*/
  }
  .banner .banner-item {
    /*min-height: 100vh;*/
    height: auto;
    z-index: 0;
  }
  /*.banner .banner-inner > div:nth-child(2) {
    z-index: 2;
  }*/
  .banner .banner-item > img {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    min-width: 0;
    width: 100%;
    height: calc(100vh - 70px);
    object-fit: cover;
  }
  .banner .container {
    position: relative;
  	width: 100%;
    /*min-height: 100vh;*/
  	/*flex-flow: row wrap;*/
    justify-content: center;
  	min-width: 0;
  	/*padding: 50px 0;*/
    /*margin-top: calc(100vh - 0px);*/
    text-align: center;
  }
  .banner .carousel-caption, .banner .banner-caption {
  	flex-flow: column nowrap;
  	margin-right: auto;
  	margin-left: auto;
  }
  .banner .carousel-control-next, .banner .carousel-control-prev {
  	height: 100vh;
    bottom: auto;
  }
}
