<footer id="footer">
  <div class="container row mx-auto">
    <div class="col-6">
      <nav class="navbar text-right" id="FooterNav-Left">
        <a class="navbar-brand" href="/"><img src="/img/TFA-SC_logo.svg" /></a>
        <div class="footer-nav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Teaching in SC</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Overview</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">What You Need to Know</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Communities of SC</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Regional Expenses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Our Alumni</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Our Supporters</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Connect</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-6">
      <nav class="navbar" id="FooterNav-Right">
        <a class="navbar-brand" href="https://www.teachforamerica.org" target="_blank"><img src="/img/TFA-logo.svg" /></a>
        <div class="footer-nav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="https://www.teachforamerica.org" target="_blank">Join TFA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.teachforamerica.org" target="_blank">Get Involved</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.teachforamerica.org" target="_blank">Top Stories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.teachforamerica.org" target="_blank">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.teachforamerica.org" target="_blank">Where We Work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.teachforamerica.org" target="_blank">Alumni</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.teachforamerica.org" target="_blank">Careers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.teachforamerica.org" target="_blank">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.teachforamerica.org" target="_blank">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.teachforamerica.org" target="_blank">Shop</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="container d-flex small">
      <p class="w-100 text-center text-uppercase">©Copyright 2017 Teach For America, INC. All rights reserved. Teach For America logos are trademarks or registered trademarks of Teach For America, INC. | <a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a> | <a href="#">Accessibility Policy</a></p>
      <p class="w-100 text-center">Teach For America is a proud member of the AmeriCorps national service network.</p>
      <p class="w-100 text-center"><a href="https://www.nationalservice.gov/programs/americorps" target="_blank"><img src="/img/AmeriCorps-min.png" /></a></p>
    </div>
  </div>
</footer>
