<header id="header">
  <nav class="navbar fixed-top" id="nav">
    <div class="secondary-nav mobile-hide">
      <div class="container text-right">
        <ul>
          <li><a href="#">Teach for America</a></li>
          <li>|</li>
          <li><a href="#">Sign Up</a></li>
        </ul>
      </div>
    </div>
    <div class="logo"><a href="/"><img src="/img/TFA-SC_logo.svg" alt="Teach for America - South Carolina Logo"/></a></div>
    <div class="navbar-collapse" id="navbarToggleNav">
      <div class="d-flex align-items-center">
        <ul class="navbar-nav mx-auto text-center">
          <li class="text-right">
            <h4>We nurture. We reimagine. We inspire.</h4>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Teaching in SC</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Our Alumni</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Our Supporters</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Our Story</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Connect</a>
          </li>
          <li class="nav-item apply">
            <a class="nav-link btn-apply" href="#">Apply</a>
          </li>
          <li class="nav-item donate">
            <a class="nav-link btn-donate" href="#">Donate</a>
          </li>
          <li class="nav-item">
            <p>&nbsp;</p>
          </li>
        </ul>
      </div>
    </div>


  <!-- <button class="nav-main navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarToggleNav" aria-controls="navbarToggleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button> -->

</nav>

</header>
