<header id="header">
  <nav class="navbar fixed-top navbar-expand-lg" id="nav">
    <div class="secondary-nav mobile-hide">
      <div class="container text-right">
        <ul>
          <li><a href="#">Teach for America</a></li>
          <li>|</li>
          <li><a href="#">Sign Up</a></li>
        </ul>
      </div>
    </div>
    <div class="logo"><a href="/"><img src="/img/TFA-SC_logo.svg" alt="Teach for America - South Carolina Logo"/></a></div>
    <div class="collapse navbar-collapse" id="navbarToggleNav">
      <div class="d-flex w-100 align-items-center">
        <ul class="navbar-nav mx-auto text-center">
          <li class="text-right mobile-hide">
            <h4>We nurture. We reimagine. We inspire.</h4>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Teaching in SC</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/our-story">Overview</a></li>
              <li><a class="dropdown-item" href="#">What You Need to Know</a></li>
              <li><a class="dropdown-item" href="#">Communities of SC</a></li>
              <li><a class="dropdown-item" href="#">Regional Expenses</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Our Alumni</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Our Supporters</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Our Story</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/our-story">Overview</a></li>
              <li><a class="dropdown-item" href="#">Our Staff</a></li>
              <li><a class="dropdown-item" href="#">Our Board</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Connect</a>
          </li>
          <li class="nav-item apply mobile-hide">
            <a class="nav-link btn-apply" href="#">Apply</a>
          </li>
          <li class="nav-item donate mobile-hide">
            <a class="nav-link btn-donate" href="#">Donate</a>
          </li>
          <li class="nav-item mobile-hide">
            <p>&nbsp;</p>
          </li>
          <li class="nav-item dropdown desktop-hide">
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Teach for America</a></li>
              <li><a class="dropdown-item" href="#">Sign Up</a></li>
              <li>
                <hr>
                <p class="social">#TFASCFamily<br/>
                  <a href="https://www.facebook.com/" target="_blank">
                    <i class="fa fa-2x fa-facebook-official" aria-hidden="true"></i>
                  </a>
                  <a href="https://www.twitter.com/" target="_blank">
                    <i class="fa fa-2x fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a href="https://www.youtube.com/" target="_blank">
                    <i class="fa fa-2x fa-youtube" aria-hidden="true"></i>
                  </a>
                  <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fa fa-2x fa-linkedin" aria-hidden="true"></i>
                  </a>
                  <a href="https://www.instagram.com/" target="_blank">
                    <i class="fa fa-2x fa-instagram" aria-hidden="true"></i>
                  </a>
                </p>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>


  <button class="nav-main navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarToggleNav" aria-controls="navbarToggleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>

</nav>
<nav class="navbar fixed-bottom navbar-expand-lg desktop-hide" id="navButtons">
  <div class="w-100">
    <div class="d-flex w-100 align-items-center">
      <ul class="navbar-nav w-100 text-center">
        <li class="nav-item apply text-center">
          <a class="nav-link btn-apply" href="#">Apply</a>
        </li>
        <li class="nav-item donate text-center">
          <a class="nav-link btn-donate" href="#">Donate</a>
        </li>
      </ul>
    </div>
  </div>

</nav>

</header>
