<div id="ourStoryPage" class="site-wrapper">
  <div class="site-wrapper-inner">
    <main>
      <section id="one">
        <img src="img/bus-min.jpg" />
        <div class="inner">
          <span><h1>Be Part of Our Story</h1></span>
        </div>
      </section>
      <section id="two">
        <div class="inner">
          <h1>No Matter What</h1>
          <h2>We are Educators. Mentors.  Coaches. Community Members. </h2>
          <p>From the Upstate to the Lowcountry, we see the potentialin each and every student in South Carolina.</p>
        </div>
      </section>
      <section id="three">
          <img src="img/coach-min" />
        <div class="inner">
        </div>
      </section>
      <section id="four">
        <div accesskey=""class="inner">
          <h2>We are a diverse and determined community,</h2>
          <p>taking collective action to improve and strengthen our local South Carolina schools and neighborhoods.</p>
        </div>
        <div class="inner">
          <p>We are a strong, resilient and collaborative network of leaders who strive to make an impact and pave the way for education equity in our communities. </p>
        </div>
      </section>
      <section id="five">
        <img src="img/girl-min.jpg" />
        <div class="inner">
        </div>
      </section>
    </main>
  </div>
</div>
